
<div class="row">
    <div class="col-xs-6">
        <div class="text-center"><h3>什么是 Stigmergic-Modeling？</h3></div>
        <hr />
        <blockquote>
            <p>Stigmergic-Modeling 是一个基于环境激发效应的协同式在线概念建模工具。个体建模者在建立自己概念模型时，会获得系统基于群体智能而给出的建模元素推荐。通过将这些元素批判吸收到自己的模型中，个体建模者可以提高自己建立的概念模型的质量。</p>
            <img src="/images/about/what_is_stigmod_0.png" class="img-responsive" />
            <p>概念模型可以有多种表示方式，Stigmergic-Modeling 采用 UML 类图（Class Diagram）作为其基础表示。与 UML 2.0 标准相比，我们对类图做了一些简化：</p>
            <ul>
                <li>类内只有属性（Attribute），没有操作（Operation）</li>
                <li>关系只有一般特殊（Generalization）、组合（Composition）、聚合（Aggregation）、关联（Association）这四种</li>
                <li>没有抽象类（Abstract Class）和接口（Interface）</li>
                <li>没有依赖关系（Dependency Relationship）</li>
            </ul>
            <img src="/images/about/what_is_stigmod_1.png" class="img-responsive" />
        </blockquote>
        <br />
    </div>
    <div class="col-xs-6">
        <div class="text-center"><h3>词汇表</h3></div>
        <hr />
        <h4>概念建模（Conceptual Modeling）</h4>
        <blockquote>
            <p>概念建模是一种形式化地描述人类所处的物理世界和人类社会中某些因素的活动，其目的是增进人们对世界的理解以及方便人们的沟通。</p>
            <p>概念建模在计算机科学的诸多领域都有所应用，其中包括数据库系统设计、人工智能知识表示、组织环境建模、业务流程建模、软件开发过程建模以及软件需求建模等。更一般地，人们还可以单纯地以增进人们的对事物的理解与相互沟通为目的，而对现实世界的某⼀部分进⾏概念建模。例如，Paton 等人为多种复杂的基因组信息建立了清晰而直观的概念模型，为生物信息学者的研究提供了有利条件。</p>
        </blockquote>

        <h4>环境激发效应（Stigmergy Theory）</h4>
        <blockquote>
            <p>环境激发效应是群居昆虫大规模协同的基本原理，它由法国动物学家 Pierre-Paul Grasse 于 1959 年提出。环境激发效应的关键之处有两点：其一，个体之间通过环境发生间接交互，不发生直接交互；其二，个体行为之间可以形成正反馈回路。</p>
            <p>胡蜂和白蚁的筑巢行为，以及草坪上由于人类经过而导致的小路的形成都是环境激发效应典型实例。</p>
        </blockquote>
        <h4>统一建模语言（UML）</h4>
        <blockquote>
            <p>UML 是一种对象建模和规约语言，其设计目的是对信息系统进行面向对象的分析和设计。UML 2.5 中定义了十四种图，共分为结构图（Structure Diagram）和行为图（Behavior Diagram）两大类。类图是一种结构图。</p>
            <img src="/images/about/uml_diagrams.png" class="img-responsive" />
        </blockquote>
    </div>
</div>

