<h3>This page is not available right now!</h3>



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    索引
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="list-group">
                <div class="list-group-item" style="border:1px dashed;color: black">
                    <a href="#" class="list-group-item stigmod-hovershow-trig" style="text-align: center;">
                        <span class="fa fa-plus" type="class"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    详情
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="properties list-group" style="border:1px dashed;height:605px">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8"><h4>详情</h4></div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right button-right"></span></div>
                </div>
                <hr style='margin:8px'>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    修改
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="properties list-group" style="border:1px dashed;height:605px">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8"><h4>修改</h4></div>
                    <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right button-right"></span></div>
                </div>
                <hr style='margin:8px'>
            </div>
        </div>
    </div>
</div>




<!--script src="https://d3js.org/d3.v4.min.js"></script-->
<script src="/javascripts/lib/d3.js"></script>
<script src="/javascripts/lib/jquery-1.11.3.min.js"></script>
<!--script src="/javascripts/lib/typeahead.bundle.js"></script-->
<script src="/javascripts/lib/bootstrap.js"></script>
<!--script src="/javascripts/lib/bootstrap3-typeahead.js"></script-->
<!--script src="/javascripts/lib/objectid.js"></script-->
<script src="/socket.io/socket.io.js"></script>


<script src="/javascripts/data.js"></script>
<script src="/javascripts/model.js"></script>
<script src="/javascripts/draw.js"></script>
<script src="/javascripts/function.js"></script>
<script src="/javascripts/fortest.js"></script>
<script src="/javascripts/typeahead-bootstrap.js"></script>
