
<div id="stigmod-pg-user">
    <div class="row">
        <!-- 左侧信息栏 -->
        <div class="col-xs-2"></div>

        <div class="col-xs-2">
            <img src="/images/user_avatar_default3.jpg" class="img-responsive img-rounded"/>
            <br />
            <div id="stigmod-username">Jia Baoyu</div>
            <hr />
            <div id="stigmod-info-left">
                <p><span class="glyphicon glyphicon-map-marker stigmod-detailinfo-icon"></span>&nbsp;Beijing</p>
                <p><span class="glyphicon glyphicon-envelope stigmod-detailinfo-icon"></span>&nbsp;baoyu@pku.edu.cn</p>
                <p><span class="glyphicon glyphicon-link stigmod-detailinfo-icon"></span>&nbsp;userUrl</p>
                <div><span class="glyphicon glyphicon-time stigmod-detailinfo-icon"></span>&nbsp;Joined&nbsp;on&nbsp;2017-12-03</div>
            </div>
        </div>
        <!-- 右侧 Model 栏 -->
        <div class="col-xs-6">
            <!-- Model 搜索栏 -->
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#"><span class="fa fa-cube"></span> &nbsp;Models</a></li>
                        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-comment"></span> &nbsp;Discussions</a></li>
                        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-transfer"></span> &nbsp;Activities</a></li>
                    </ul>
                </div>
            </div>
            <!-- Model 显示栏 -->
            <div class="row" id="stigmod-searchbar">
                <div class="col-xs-12">
                    <form class="form-inline" role="form">
                        <div class="form-group" id="stigmod-searchbar-form">
                            <input type="text" class="form-control" placeholder="Find a model..." id="stigmod-searchbar-input">
                        </div>
                        <button class="btn btn-default">Search</button>
                        <a class="btn btn-warning" id="stigmod-searchbar-newbtn" href="/newmodel"><span class="fa fa-cube"></span>&nbsp;&nbsp;Create New</a>
                    </form>
                </div>
            </div>
            <hr />
            <div id="stigmod-model-info-container">
                <div class="stigmod-modelshow">
                    <div class="row">
                        <div class="col-xs-9 stigmod-modelshow-title">
                            <a href="/workspace">A Dream in Red Mansions</a>
                        </div>
                        <div class="col-xs-3 stigmod-modelshow-info">
                            <i class="fa fa-language"></i>
                            <span class="stigmod-modelshow-language">en</span> &nbsp;&nbsp;
                            <span class="glyphicon glyphicon-th-large"></span>
                            <span class="stigmod-modelshow-class">4</span> &nbsp;&nbsp;
                            <span class="glyphicon glyphicon-random"></span>
                            <span class="stigmod-modelshow-relation">1</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 stigmod-modelshow-description">
                            A Dream in Red Mansions
                        </div>
                        <div class="col-xs-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 stigmod-modelshow-date">
                            Updated on Jul 3, 2017 10:09:35 AM
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>

    </div>
</div>
<!-- ModelInfo 显示组件 -->



