<!--div class="row search-row" style="padding:10px"></div-->
<div class="row graph-row">
  <!--div class="col-xs-2 left-content"></div-->
  <div class="col-xs-9" >
    <div class="middle-content" style="border:1px solid;">
      <div class="row" style="margin-top: 8px;padding-left: 5px;padding-right: 5px" >
        <div class="col-xs-4">
          <div class="btn-group workspace" role="group" aria-label="...">
            <input type="checkbox" checked data-toggle="toggle"
                   data-on="局部图谱" data-off="全局图谱"
                   data-onstyle="default">
          </div>
          <button class="btn btn-default toggle recommend">图谱推荐</button>
          <button style="display:none" class="btn btn-default toggle filter-btn" data-toggle="modal" data-target="#filter-window">筛选</button>
          <div class="modal fade" id="filter-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-custom">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">选择图中需要出现的元素</h4>
                </div>
                <div class="modal-body">
                  <div class="filter-panel row"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default filter-cancel" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary filter-apply" data-dismiss="modal">确认</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
          <button style="display:none" class="btn btn-default change-btn" >换</button>
          <!-- TODO 可能会引起全屏布局问题-->
        </div>
        <div class="col-xs-4 title" style="text-align: center" id="project"><h4><%= locals.project %></h4></div>
        <div class="col-xs-4">
          <div class="input-group showPopover" style="margin:auto;">
            <input type="text" class="form-control typeahead" id="stigmod-search-left-input" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="stigmod-search-left-btn" title="搜索"><span class="glyphicon glyphicon-search"></span></button>
                <button class="btn btn-default" type="button" id="stigmod-add-left-btn" data-popover="popover"><span class="fa fa-plus" aria-hidden="true"></span></button>
                <!--button class="btn btn-default" type="button" id="stigmod-search-left-btn" data-tooltip="tooltip" data-placement="top" title="搜索"><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" class="btn btn-default" style="width: 40px" data-tooltip="tooltip" data-placement="top" title="实体新建" content='123'><span class="fa fa-plus" aria-hidden="true" type="class"></span></button>
                < div class="btn-group">
                  <button type="button" class="btn btn-default" aria-label="Index" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true" data-tooltip="tooltip" data-placement="top" title="实体索引"><span class="glyphicon glyphicon-list"></span></button>
                  <ul class="dropdown-menu index" style="max-height:320px;overflow:auto;"></ul>
                </div-->
                <!--button class="btn btn-default" type="button" id="stigmod-fullscreen-btn" title="全屏"><span class="glyphicon glyphicon-fullscreen"></span></button-->
                <button class="btn btn-default" type="button" id="stigmod-mute-btn" title="屏蔽列表" data-toggle="modal" data-target="#mute-window"><span class="glyphicon glyphicon-ban-circle"></span></button>
                <div class="modal fade" id="mute-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-custom">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">屏蔽列表</h4>
                    </div>
                    <div class="modal-body">
                      <div class="mute-panel row">
                        <ul id="reject-list" style="margin: 0px;padding: 0px">
                        </ul>
                      </div>
                    </div>

                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
                </div>
                <button class="btn btn-default dropdown-toggle" type="button" id="stigmod-history-btn" title="历史记录" data-toggle="dropdown"><span class="glyphicon glyphicon-time" ></span></button>
                <ul class="dropdown-menu" id="history-list" role="menu">
                     <li class="historyitem" value="344"><a>刘镇伟</a></li>
                </ul>
            </span>
          </div>
        </div>
      </div>
      <hr style='margin:8px'>
      <svg class="local" style="margin: auto;display:block"></svg>
      <div class="global" style="margin: auto;display:none"></div>
    </div>
  </div>
  <div class="col-xs-3 right-content" style="text-align:center;">
    <div class="index list-group">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><h4>索引</h4></div>
        <div class="col-xs-2"><!--span class="glyphicon glyphicon-chevron-right button-right"></span--></div>
      </div>
      <hr class="stigmod-hr-narrow">
      <div class='index-content'></div>
      <div class="panel panel-default"><div class="panel-heading">
          <span class="panel-title stigmod-rcmd-title" style="margin-left: 30%;margin-right: 25%">
            <span class="fa fa-plus" type="class" style="z-index: 2"></span>
          </span>
        </div>
      </div>
      <hr style='margin:8px'>
    </div>
    <div class="properties list-group">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><h4>详情</h4></div>
        <div class="col-xs-2"><!--span class="glyphicon glyphicon-chevron-right button-right"></span--></div>
      </div>
      <hr style='margin:8px'>
    </div>
    <div class="properties-revise list-group">
      <div class="row">
        <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-left button-left"></span></div>
        <div class="col-xs-8"><h4>修改</h4></div>
        <div class="col-xs-2"></div>
      </div>
      <hr style='margin:8px'>
    </div>
  </div>
</div>

<!-- Modal -->
<!--div class="modal fade" id="modalWorkspace" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="">
        <svg class="graph"></svg>
      </div>
    </div>
  </div>
</div-->

<div class="modal fade" id="modalNetwork" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">全局图谱</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalSearch" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary">创建</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalAddEntity" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary">创建</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalAddEntityInModel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建新的实体类型</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <div class="panel panel-default list-group-item showPopover" style="">
            <div class="panel-heading" style="padding-top:5px;padding-bottom: 5px">
                <div class="stigmod-rcmd-title row"><span class="col-xs-5">类型</span><span class="col-xs-7">主属性名</span></div>
            </div>
            <div class="list-group" id="roles">
                <div class="list-group-item stigmod-hovershow-trig row ">
                    <span class="col-xs-5" style="padding: 0px;"><input type="text" class="stigmod-input type" value="" placeholder="类型"></span>
                    <span class="col-xs-7" style="padding: 0px;"><input type="text" class="stigmod-input attr" placeholder="如：名称、姓名等，主属性会显示在图谱中"value=""></span>
                 </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">创建</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalAddAttrInModel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建新的属性类型</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <div class="panel panel-default list-group-item showPopover" style="">
          <div class="panel-heading" style="padding-top:5px;padding-bottom: 5px">
            <div class="stigmod-rcmd-title row"><span class="col-xs-5">属性名</span><span class="col-xs-7">数据类型</span></div>
          </div>
          <div class="list-group" id="roles">
            <div class="list-group-item stigmod-hovershow-trig row ">
              <span class="col-xs-5" style="padding: 0px;"><input type="text" class="stigmod-input attr" value="" placeholder="属性名"></span>
              <span class="col-xs-7" style="padding: 0px;"><input type="text" class="stigmod-input type" placeholder="如：String、Date"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">创建</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalAddRelInModel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">创建新的关系类型</h4>
      </div>
      <div class="modal-body" style="text-align: center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary">创建</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalCiteRcmd" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary">创建</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalRevise" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary revise-directly" style="display:none" ></button>
        <button type="button" class="btn btn-sm btn-primary revise">直接修改</button>
        <button type="button" class="btn btn-sm btn-default cancel" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bs-example-modal-sm" id="modalAlert" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default dismiss" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-sm btn-default refresh" data-dismiss="modal" style="display: none">刷新</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalRec" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">推荐关系</h4>
      </div>
      <div class="modal-body" style="text-align: center">
      </div>
      <div class="modal-footer">
        <div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-primary" title="引用推荐元素">引用</button>
            <button type="button" class="btn btn-sm btn-warning" title="拒绝推荐元素并不再进行推荐" >拒绝</button>
          </div>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="custom-overlay" class="loading-overlay loading-theme-light loading-shown vcenter" style="position: fixed; z-index: 2; top: 0px; left: 0px; width: 100%; height: 100%;display: none">
  <div class="loading-spinner"></div>
  <div class="loading-overlay-content">等待，全局图谱绘制中...</div>
</div>

<div id="reject-entity">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1">拒绝该实体</a></li>
  </ul>
</div>
<!--script src="https://d3js.org/d3.v4.min.js"></script-->
<script src="/javascripts/lib/d3.js"></script>
<!--script src="/javascripts/lib/typeahead.bundle.js"></script-->
<script src="/javascripts/lib/jquery.transit.min.js"></script>
<script src="/javascripts/lib/bootstrap.js"></script>
<script src="/javascripts/lib/bootstrap3-typeahead.js"></script>
<script src="/javascripts/lib/bootstrap-toggle.js"></script>
<script src="/javascripts/lib/bootstrap-contextmenu.js"></script>
<script src="/javascripts/lib/vis.js"></script>
<!--script src="/javascripts/lib/objectid.js"></script-->
<script src="/socket.io/socket.io.js"></script>


<!--script src="/javascripts/data.js"></script-->
<script src="/javascripts/model.js"></script>
<script src="/javascripts/svg.js"></script>
<script src="/javascripts/detail.js"></script>
<script src="/javascripts/function.js"></script>
<script src="/javascripts/popover.js"></script>
<script src="/javascripts/typeahead-bootstrap.js"></script>

<script src="/javascripts/io.js"></script>
<script src="/javascripts/network.js"></script>

<script src="/javascripts/modal.js"></script>
<script src="/javascripts/test.js"></script>


<script src="/javascripts/init.js"></script>


<script language="javascript">
    window.onbeforeunload = function() {}

</script>