<!--div class="row search-row" style="padding:10px"></div-->
<div class="row graph-row">
  <div class="col-xs-9 middle-content" style="border:1px solid">
    <div class="row" style="margin-top: 8px;padding-left: 5px;padding-right: 5px" >
      <div class="col-xs-3">
      </div>
      <div class="col-xs-6 title" style="text-align: center"><h4>红楼梦</h4></div>
      <div class="col-xs-3">
        <div class="input-group" style="margin:auto;">
          <input type="text" class="form-control typeahead" id="stigmod-search-left-input" placeholder="Search">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="stigmod-search-left-btn" data-tooltip="tooltip" data-placement="top" title="实体搜索"><span class="glyphicon glyphicon-search"></span></button>
              <button type="button" class="btn btn-default" style="width: 40px" data-tooltip="tooltip" data-placement="top" title="实体新建"><span class="fa fa-plus" aria-hidden="true" type="class"></span></button>
              <div class="btn-group">
                <button type="button" class="btn btn-default" aria-label="Index" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true" data-tooltip="tooltip" data-placement="top" title="实体索引"><span class="glyphicon glyphicon-list"></span></button>
                <ul class="dropdown-menu index" ></ul>
              </div>
          </span>

        </div>

      </div>
    </div>
    <hr style='margin:8px'>
    <svg class="graph" width="900" height="532"></svg>
  </div>
  <div class="col-xs-3" style="text-align:center;">
    <div class="properties list-group" style="border:1px dashed;height:605px">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><h4>详情</h4></div>
        <div class="col-xs-2"><!--span class="glyphicon glyphicon-chevron-right button-right"></span--></div>
      </div>
      <hr style='margin:8px'>
    </div>
    <div class="properties-revise list-group" style="border:1px dashed;height:605px;display:none">
      <div class="row">
        <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-left button-left"></span></div>
        <div class="col-xs-8"><h4>修改</h4></div>
        <div class="col-xs-2"></div>
      </div>
      <hr style='margin:8px'>
    </div>
  </div>
</div>
<!--script src="https://d3js.org/d3.v4.min.js"></script-->
<script src="/javascripts/lib/d3.js"></script>
<script src="/javascripts/lib/jquery-1.11.3.min.js"></script>
<!--script src="/javascripts/lib/typeahead.bundle.js"></script-->
<script src="/javascripts/lib/jquery.transit.min.js"></script>
<script src="/javascripts/lib/bootstrap.js"></script>
<script src="/javascripts/lib/bootstrap3-typeahead.js"></script>
<!--script src="/javascripts/lib/objectid.js"></script-->
<script src="/socket.io/socket.io.js"></script>


<script src="/javascripts/data.js"></script>
<script src="/javascripts/model.js"></script>
<script src="/javascripts/draw.js"></script>
<script src="/javascripts/function.js"></script>
<script src="/javascripts/typeahead-bootstrap.js"></script>

<script src="/javascripts/io.js"></script>

<script language="javascript">
    window.onload = function() {
        user = $(".glyphicon-user").parent().text().slice(1);
        //user = user.replace(/(^\s*)/g, "");
        project = "红楼梦";
        //forTest
        //判断是否存在图谱，如果不存在就初始化图谱
        let msg = {
            operation: 'mget',  //先这么用着再说吧
            user_id : user,
            project_id : '红楼梦',
            operation_id : 'op1'
        };
        //socketEmitArray("model",msg);
        socketEmit("model",msg);
        let msg2 = {
            operation: 'get',
            user_id : user,
            project_id : '红楼梦',
            operation_id : 'op2'
        }
        //socketEmitArray("insModel",msg2);
        socketEmit("insModel",msg2);
    }
    window.onbeforeunload = function() {
        //let user = $(".glyphicon-user").parent().text();
        //user = user.replace(/(^\s*)/g, "")
        socketEmitArray('save model',data={"instance_model":instance_model,"user":user})
    }
</script>