.button-left {
    margin: 10px;
}

.button-right {
    margin-top: 10px;
    margin-button: 10px;
    margin-right: 10px;
    margin-left: -20px;
}
.head.container{
    min-width: 1200px;
    width: calc(100% - 200px);
}

.body.container {
    min-width: 1200px;
    width: calc(100% - 200px);
}

.panel.panel-default .list-group{
    text-align: left;
}

.properties {
    overflow: auto;
}
/*
.properties-revise {
    overflow: auto;
}
*/
.navbar-default .navbar-brand {
    padding-top:2px;
    padding-bottom: 0;
    margin-right: -30px;
}

#relation-revise table{
    padding: 12px;
}

#relation-revise thead th{
    font-weight: bold;
    background-color: #eeeeee;
}

#relation-revise tbody th{
    font-weight: normal;
}

.index.list-group{
    border:1px solid;
    height:605px;
}

.index .index-content{
    height: calc(100% - 105px);
    overflow: auto;
}

.properties.list-group{
    border:1px solid;
    height:605px;
    display:none
}

.properties-revise.list-group{
    border:1px solid;
    height:605px;
    display:none
}

#modalNetwork .modal-dialog {
    width: 800px;
    margin: 30px auto;
}

#modalNetwork .modal-body {
    width: 800px;
    height: 600px;
}

div.global{
    width: 100%;
    height: calc(100% - 70px);
    min-width: 868px;
    min-height: 540px;
}

svg.local{
    width: 100%;
    height: calc(100% - 70px);
    min-width: 868px;
    min-height: 540px;
}

#modalSearch .modal-footer {
    padding: 10px;
}

path,
textPath,
g:hover{
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

g rect{
    stroke: gray;
    stroke-width: 1;
}

g.active rect{
    stroke: #99CC66;
    stroke-width: 2;
}

path{
    stroke: gray;
    stroke-width: 1;
}

path.active{
    stroke: #99CC66;
    stroke-width: 2;
}

.popover-title{
    text-align: center;
}


.btn.toggle:focus,
.btn.toggle.focus {
    outline: 0px;
}

.btn.toggle:active,
.btn.toggle.active {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.middle-content,
.right-content
{
    min-height:600px;
    height: calc(100vh - 200px);
}

.index.list-group,
.properties.list-group,
.properties-revise.list-group{
    min-height:599px;
    height: calc(100vh - 201px);
}

#modalAddRelInModel .panel:first-child{
    width: 95%;
    margin:auto;
}

.row .col-xs-3.right-content{
    padding: 0px;
}


/* http://projects.lukehaas.me/css-loaders/ by @lukehaas */
/* Absolute Center Spinner */
.loading-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    padding-bottom: 8em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-spinner:not(:required):after {
    content: '';
    display: block;
    font-size: 12px;
    width: 0.5em;
    height: 0.5em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
    0%,
    100% {
        box-shadow: 0 -1.5em 0 0.1em, 1em -1em 0 0em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 0;
    }
    12.5% {
        box-shadow: 0 -1.5em 0 0, 1em -1em 0 0.1em, 1.5em 0 0 0, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em;
    }
    25% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 0, 1.5em 0 0 0.1em, 1em 1em 0 0, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em;
    }
    37.5% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 0, 1em 1em 0 0.1em, 0 1.5em 0 0em, -1em 1em 0 -0.5em, -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em;
    }
    50% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 0em, 0 1.5em 0 0.1em, -1em 1em 0 0, -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em;
    }
    62.5% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 0, -1em 1em 0 0.1em, -1.5em 0 0 0, -1em -1em 0 -0.5em;
    }
    75% {
        box-shadow: 0em -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0, -1.5em 0em 0 0.1em, -1em -1em 0 0;
    }
    87.5% {
        box-shadow: 0em -1.5em 0 0, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0, -1.5em 0em 0 0, -1em -1em 0 0.1em;
    }
}
@keyframes spinner {
    0%,
    100% {
        box-shadow: 0 -1.5em 0 0.1em, 1em -1em 0 0em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 0;
    }
    12.5% {
        box-shadow: 0 -1.5em 0 0, 1em -1em 0 0.1em, 1.5em 0 0 0, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em;
    }
    25% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 0, 1.5em 0 0 0.1em, 1em 1em 0 0, 0 1.5em 0 -0.5em, -1em 1em 0 -0.5em, -1.5em 0 0 -0.5em, -1em -1em 0 -0.5em;
    }
    37.5% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 0, 1em 1em 0 0.1em, 0 1.5em 0 0em, -1em 1em 0 -0.5em, -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em;
    }
    50% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 0em, 0 1.5em 0 0.1em, -1em 1em 0 0, -1.5em 0em 0 -0.5em, -1em -1em 0 -0.5em;
    }
    62.5% {
        box-shadow: 0 -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 0, -1em 1em 0 0.1em, -1.5em 0 0 0, -1em -1em 0 -0.5em;
    }
    75% {
        box-shadow: 0em -1.5em 0 -0.5em, 1em -1em 0 -0.5em, 1.5em 0em 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0, -1.5em 0em 0 0.1em, -1em -1em 0 0;
    }
    87.5% {
        box-shadow: 0em -1.5em 0 0, 1em -1em 0 -0.5em, 1.5em 0 0 -0.5em, 1em 1em 0 -0.5em, 0 1.5em 0 -0.5em, -1em 1em 0 0, -1.5em 0em 0 0, -1em -1em 0 0.1em;
    }
}