.button-left {
    margin: 10px;
}

.button-right {
    margin-top: 10px;
    margin-button: 10px;
    margin-right: 10px;
    margin-left: -20px;
}

.body.container {
    width: 1200px;
}

.panel.panel-default .list-group{
    text-align: left;
}

.properties {
    overflow: auto;
}
/*
.properties-revise {
    overflow: auto;
}
*/
.navbar-default .navbar-brand {
    padding-top:2px;
    padding-bottom: 0;
    margin-right: -30px;
}

#relation-revise table{
    padding: 12px;
}

#relation-revise thead th{
    font-weight: bold;
    background-color: #eeeeee;
}

#relation-revise tbody th{
    font-weight: normal;
}

.index.list-group{
    border:1px dashed;
    height:605px;
}

.properties.list-group{
    border:1px dashed;
    height:605px;
    display:none
}

.properties-revise.list-group{
    border:1px dashed;
    height:605px;
    display:none
}

#modalNetwork .modal-dialog {
    width: 800px;
    margin: 30px auto;
}

#modalNetwork .modal-body {
    width: 800px;
    height: 600px;
}

div.global{
    width: 868px;
    height: 540px;
}

svg.local{
    width: 868px;
    height: 535px;
}

#modelSearch .modal-footer {
    padding: 10px;
}

path,
textPath,
g:hover{
    cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

g rect{
    stroke: gray;
    stroke-width: 1;
}

g.active rect{
    stroke: #99CC66;
    stroke-width: 2;
}

path{
    stroke: gray;
    stroke-width: 1;
}

path.active{
    stroke: #99CC66;
    stroke-width: 2;
}

.popover-title{
    text-align: center;
}