.button-left {
    margin: 10px;
}

.button-right {
    margin-top: 10px;
    margin-button: 10px;
    margin-right: 10px;
    margin-left: -20px;
}

.container {
    width: 1440px;
}

.head.container {
    width: 1200px;
}

.panel.panel-default .list-group{
    text-align: left;
}

g.center circle {
    fill: "gray";
    stroke: "#333";
}

g.center text {
    font-color: "white";
}


.properties {
    overflow: auto;
}
/*
.properties-revise {
    overflow: auto;
}
*/
.navbar-default .navbar-brand {
    padding-top:2px;
    padding-bottom: 0;
    margin-right: -30px;
}